@import '~font-awesome/css/font-awesome.css';

.container {
  .margin-top: 200px
}

.btn:hover {
  color:#fff
}

.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #f8c146;
  outline: 0px;
}

.form-control {
  border: 1px solid #f8c146
}

img {
  max-height: 200px;
  max-width: 200px;
}
