<div>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Computer store application</h1>
        <p class="lead text-muted">This is the computer store web-application demo.
          The application purpose is to store and publish computers by companies and
          and to by computers by clients. Also there are authentication and authorization features implemented
          in the web-application.
        </p>
        <p>
          <button *ngIf="currentUser?.userRole?.toString() === 'ROLE_ADMIN'" type="button" class="btn btn-primary my-2" [routerLink]="['/add']">Add new Computer</button>
        </p>
        <h2 class="fw-light">Sort products by criteria</h2>
        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          Sort Menu
        </a>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="input-group mb-3">
            <input #searchBox type="text" class="form-control input-text"
                   placeholder="Search products..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button class="btn btn-outline-warning ms-3" (click)="findByName(searchBox.value)">Search</button>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let computer of computers">
          <div class="card shadow-sm" [routerLink]="['/details', computer.id]">
            <div class="text-center">
              <img *ngIf="computerImages.get(computer)?.length" [src]="computerImages.get(computer)?.[0]">
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-text">{{computer.name}}</p>
                <small class="text-muted">{{computer.price}}$</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title fw-light" id="offcanvasExampleLabel">Sort Menu</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Here you can sort current products by criteria.
      The amount of criteria will be increasing in time.
      For example you can sort the computers by name, year, cost etc.
    </div>
    <div class="d-grid gap-2 mx-auto">
      <button class="btn btn-primary" type="button" (click)="sortByName()">Sort By Name</button>
      <button class="btn btn-primary" type="button" (click)="sortByYear()">Sort By Year</button>
      <button class="btn btn-primary" type="button" (click)="sortByPrice()">Sort By Price</button>
    </div>
    <hr>
    <h2 class="fw-light">Searching in price diapason</h2>
    <div>
      You can find computer in some price range.
      <label class="form-label" for="priceStart">Start price</label>
      <input class="form-control" type="number" id="priceStart" #priceStart>
      <label class="form-label" for="priceEnd">Price end</label>
      <input class="form-control" type="number" id="priceEnd" #priceEnd>
    </div>
    <div class="d-grid gap-2 mx-auto">
      <button class="btn btn-primary" type="button" (click)="findInPriceRange(priceStart.value, priceEnd.value)">Find</button>
    </div>
    <hr>
    <h2 class="fw-light">Find user's chose top 5</h2>
    <div>Here you can find top 5 computers filtered by users chose (most ordered, with highest average review score)</div>
    <div class="d-grid gap-2 mx-auto">
      <button class="btn btn-primary" type="button" (click)="findTopMostOrdered(5)">Find top 5 most ordered computers</button>
      <button class="btn btn-primary" type="button" (click)="findTopAverageReview(5)">Find top 5 by average review score</button>
    </div>
  </div>
</div>

