<main *ngIf="computer">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">{{computer.name}}</h1>
    <h2 class="display-5 fw-bold">{{computer.price}}</h2>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Add to Cart</button>
        <button type="button" [routerLink]="''" class="btn btn-outline-secondary btn-lg px-4">Back</button>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold">General</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead">
        Brand: {{computer.brand}}<br>
        Operation System: {{computer.operationSystem}}<br>
        Year: {{computer.year}}<br>
      </p>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold">Processor</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead">
        Brand: {{computer.processor.brand}} <br>
        Series: {{computer.processor.series}} <br>
        Cores: {{computer.processor.coresAmount}} <br>
        Frequency: {{computer.processor.frequency}}
      </p>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold">Graphics</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead">
        Brand: {{computer.graphicsUnit.brand}} <br>
        Model: {{computer.graphicsUnit.model}} <br>
        Type: {{computer.graphicsUnit.type}} <br>
      </p>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold">RandomAccessMemory</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead">
        Type: {{computer.randomAccessMemory.type}}<br>
        Volume: {{computer.randomAccessMemory.volume}}<br>
        Frequency: {{computer.randomAccessMemory.frequency}} <br>
      </p>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold">ReadMemory</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead">
        Type: {{computer.readMemory.type}}<br>
        Volume: {{computer.readMemory.volume}}<br>
      </p>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold">Reviews</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead">
        {{computer.reviews}}
      </p>
    </div>
  </div>
</main>
